.git
.env
.DS_Store # macOS specific ignore
airflow_settings.yaml
__pycache__/
.venv/
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
requirements.txt
*.pyc
**/dbt_packages/
**/__pycache__/
Dockerfile
.dockerignore